.landing {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--pad);
}

img {
  width: 100%;
  height: auto;
}

.landing > .subtitle {
  font-size: 1.5rem;
}
