.sheet {
  width: 100%;
  height: 100%;
}

.sheet > div {
  margin-bottom: var(--half-pad);
  width: 100%;
}

.sheet .skills,
.sheet .conditions {
  width: 100%;
  display: grid;
  column-gap: var(--half-pad);
  grid-template-columns: repeat(2, 50%);
}

.sheet .inventory {
  width: 100%;
  display: grid;
  column-gap: var(--half-pad);
  grid-template-columns: repeat(3, 1fr);
  padding: var(--half-pad);
  border-radius: var(--half-pad);
  border: solid 1px white;
}

.sheet .five-column .content {
  display: grid !important;
  grid-template-columns: repeat(5, 1fr);
  column-gap: var(--half-pad);
}

.sheet .six-column .content {
  display: grid !important;
  grid-template-columns: repeat(6, 1fr);
  column-gap: var(--half-pad);
}

.sheet .companions .companion-name {
  width: 100%;
}
